@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

:root {
  font-family: Helvetica, "Open Sans", sans-serif;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
:root {
  --primary: #000;
  --background: #fff;
  --accent-1: #ff7096;
  --accent-2: #ff477e;

  padding: 0;
  margin: 0;
}