.title {
  color: var(--accent1);
  font-size: 24px;
  font-style: normal;
  font-weight: 500;
  line-height: 120%; /* 28.8px */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  align-self: stretch;
  width: 100%;
  margin-bottom: 12px;
}

.iconsContainer {
  display: flex;
  width: 96px;
  justify-content: space-between;
  align-items: center;
}

.iconContainer {
  display: flex;
  width: 42px;
  padding: 9px 0px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  flex-shrink: 0;
}