/* Style for WebKit browsers */
::-webkit-scrollbar {
    width: 2px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
    border-radius: 6px;
}

::-webkit-scrollbar-thumb {
    background: #e0e0e0; /* Lighter color */
    border-radius: 8px;
}

::-webkit-scrollbar-thumb:hover {
    background: #c1c1c1; /* Adjusted hover color */
}

/* Style for Firefox */
* {
    scrollbar-width:none;
    scrollbar-gutter: auto both-edges;
    scrollbar-color: #e0e0e0 transparent; /* Lighter color */
}